<div style="height: 20px;"></div>

<div class="row">
	<div class="col-sm-4">
		<div style="border: 2px solid grey; border-radius: 4px; margin: 8px 8px; padding: 12px 12px;">
			<p>全站已註冊: <%= User.all.size %>人</p>
			<p>全站總文章: <%= Post.all.size %>篇</p>
			<p>全站總回覆: <%= Comment.all.size%>則</p>
		</div>
	</div>
	<div class="col-sm-4">
		<div style="border: 2px solid grey; border-radius: 4px; margin: 8px 8px; padding: 12px 12px;">
			<p>最熱門文章</p>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>標題</th>
						<th>回覆數</th>
					</tr>
				</thead>
				<tbody>
			    <% @most_comment_posts.each do |p| %>
					<tr>
						<td><%= link_to p.title, post_path(p) %></td>
						<td><%= p.comments.size%>則</td>
					</tr>
				</tbody>
				<%end%>
			</table>
		</div>
	</div>
	<div class="col-sm-4">
		<div style="border: 2px solid grey; border-radius: 4px; margin: 8px 8px; padding: 12px 12px;">
			<p>聲量最大用戶</p>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>名稱</th>
						<th>回覆數</th>
					</tr>
				</thead>
				<tbody>
			    <% @most_comment_users.each do |u| %>
					<tr>
						<td><%= link_to u.name, user_path(u) %></td>
						<td><%= u.comments.size%>則</td>
					</tr>
				</tbody>
				<%end%>
			</table>
		</div>
	</div>
</div>