<%= render partial:"user" %>

<ul class="nav nav-tabs">
  <li class="nav-item">
  	<%= link_to "Post", post_user_path(@user), class: "nav-link active"%>
  </li>
  <li class="nav-item">
  	<%= link_to "Collect", collect_user_path(@user), class: "nav-link"%>
  </li>
  <li class="nav-item">
  	<%= link_to "Draft", draft_user_path(@user), class: "nav-link"%>
  </li>
  <li class="nav-item">
  	<%= link_to "Comment", comment_user_path(@user), class: "nav-link"%>
  </li>
  <li class="nav-item">
  	<%= link_to "Friend", friend_user_path(@user), class: "nav-link"%>
  </li>
</ul>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>title</th>
			<th>created_at</th>
      <%if @user==current_user %>
			 <th>action</th>
      <%end%>
		</tr>
	</thead>
	<tbody>
    <% @posts.each do |p| %>
		<tr>
			<td><%= link_to p.title, post_path(p) %></td>
			<td><%= p.created_at.strftime("%Y/%m/%d %H:%M")%></td>
      <%if @user==current_user %>
  			<td>
  				<%= link_to 'Edit', edit_post_path(p) %>
          <%= link_to 'Delete', post_path(p), method: :delete, data: { confirm: "Are you sure?"} %>
        </td>
      <%end%>
		</tr>
	</tbody>
	<%end%>
</table>

<div style="height: 20px"></div>

<%if @user==current_user %>
  <%= link_to '新增文章',new_post_path, class: "btn btn-info btn-xl" %>
<%end%>

<div style="height: 20px"></div>