	<div id=<%=f.id %> class="col-sm-2">
		<%= link_to user_path(f) do%>
			<%= image_tag(f.avatar, {alt: "image-not-found", onerror:"this.src='/avatar-nil.jpg';", class:"img-fluid img-thumbnail"}) %>
			<p>Name: <%=f.name%></p>
		<%end%>
		<p><%=f.name%>邀請您成為他的朋友</p>
		<%= link_to "答應？", approve_user_friendships_path(f, ajax_source:"tab"), {remote:true, method: :post, class:"btn btn-primary btn-xl"} %>
		<%= link_to "忽略？", ignore_user_friendships_path(f, ajax_source:"tab"), {remote:true, method: :post, class:"btn btn-secondary btn-xl"} %>
	</div>