	<div id=<%=f.id %> class="col-sm-2">
		<%= link_to user_path(f) do%>
			<%= image_tag(f.avatar, {alt: "image-not-found", onerror:"this.src='/avatar-nil.jpg';", class:"img-fluid img-thumbnail"}) %>
			<p>Name: <%=f.name%></p>
		<%end%>
		<%= link_to "取消朋友", user_friendship_path(f, ajax_source:"tab"), {remote:true, method: :delete, class:"btn btn-secondary btn-xl"} %>
	</div>