<h1>文章總表</h1>

<% if current_user %>
	<%= link_to '新增文章',new_post_path, class: "btn btn-info btn-xl" %>
<%end%>
<br>
<br>
<%= search_form_for @q do |f| %>
	<% #https://stackoverflow.com/questions/17842075/check-boxes-search-with-ransack-gem?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa %>
  <% Category.all.each do |c| %>
     <%= check_box_tag('q[categories_id_eq_any][]', c.id ) %>
     <%= c.name %>
  <% end %>
  <%= f.submit "篩選" %>
  <%= button_to "重設", posts_path%>
<% end %>
<p>(&uarr;點選分類做篩選)</p>
<p>(&darr;點選表頭可以做排序)</p>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th><%= sort_link @q, :title, "標題"%></th>
			<th><%= sort_link @q, :user_name, "作者"%></th>
			<th><%= sort_link @q, :created_at, "建立時間"%></th>
			<th><%= sort_link @q, :comments_count, "回覆數", default_order: :desc%></th>
			<th><%= sort_link @q, :view_count, "瀏覽數", default_order: :desc%></th>
		</tr>
	</thead>
	<tbody>
    <% @posts.each do |p| %>
		<tr>
			<td><%= link_to p.title, post_path(p) %></td>
			<td><%= link_to p.user.name, user_path(p.user) %></td>
			<td><%= p.created_at.strftime("%Y/%m/%d %H:%M")%></td>
			<td><%= p.comments_count%></td>
			<td><%= p.view_count%></td>
		</tr>
	</tbody>
	<%end%>
</table>

<%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>