<h1><%= @post.title %></h1>

<%= link_to user_path(@post.user) do%>
	<%= image_tag(@post.user.avatar, {alt: "image-not-found", onerror:"this.src='/avatar-nil.jpg';", class:"post-show-avatar"}) %>
	<%= @post.user.name%>
<%end%>

<div id="like-unlike-div">
	<%if @post.user==current_user%>
		<%= link_to 'Edit', edit_post_path(@post), class:"btn btn-outline-secondary btn-xl" %>
  	<%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure?"}, class:"btn btn-outline-secondary btn-xl" %>
  <%else%>
		<%if @post.liked_users.include?(current_user) %>
		<%= link_to "收回喜歡！", unlike_post_path(@post), {remote: true, method: :post, class:"btn btn-secondary btn-xl", id:"like-btn"} %>
		<%else %>
		<%= link_to "喜歡！", like_post_path(@post), {remote: true, method: :post, class:"btn btn-info btn-xl", id:"unlike-btn"} %>
		<%end%>
	<%end%>
</div>
<table class="table table-striped table-bordered">
	<tbody>
		<tr>
			<td>標題</td>
		</tr>
		<tr>
			<td><%= @post.title %></td>
		</tr>
		<% if @post.image? %>
			<tr>
				<td>圖片</td>
			</tr>
			<tr>
				<td><%=image_tag @post.image ,width:'300px'%></td>
			</tr>
		<%end%>
		<tr>
			<td>內容</td>
		</tr>
		<tr>
			<td><%= @post.content %></td>
		</tr>
	</tbody>
</table>

<h3> 留言 </h3>

<%= form_for [@post,@comment] do |f| %>
<div class="form-group">
  <%= f.text_area :content, placeholder: "留個言吧", class: "form-control" %>
  <%= f.submit class: "btn btn-primary" %>
  <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
</div>
<% end %>

<table class="table table-striped table-bordered">
	<tbody>
		<% @comments.each do |c| %>
		<tr id="tr-<%= c.id %>">
			<td>
				<%= link_to user_path(c.user) do%>
					<%= image_tag(c.user.avatar, {alt: "image-not-found", onerror:"this.src='/avatar-nil.jpg';", class:"comment-avatar"}) %>
					<%= c.user.name%> (<%=time_ago_in_words c.updated_at %> ago)
				<%end%>
				<% if current_user == c.user %>
				<div class="comment-action-block pull-right">
				<%= link_to "Edit", edit_post_comment_path(@post, c), remote: true, class:"btn btn-outline-secondary btn-sm comment-action" %>
        <%= link_to "Delete", post_comment_path(@post, c), {remote: true, method: :delete, data: { confirm: "Are you sure?"}, class:"btn btn-outline-secondary btn-sm comment-action "} %>
        </div>
        <% end %>
			</td>
		</tr>
		<tr>
			<td id=<%=c.id%>><%= c.content %></td>
		</tr>
		<%end%>
	</tbody>
</table>

<%= will_paginate @comments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>